<div id="song-relations">
	<a data-width="358" data-bop-link
	href="http://www.bop.fm/s/<%=u @bop_artist_name %>/<%=u @bop_song_name %>">
		<%= @song.artist.name %> - <%= @song.title %>
	</a>
	<script async src="http://assets.bop.fm/embed.js"></script>

	<div id="song-description">
    <%= link_to album_url(@song.album) do %>
		<div class="box-header">From album <i><%= @song.album.name %></i></div>
		<div id="description-text">
			<div id="description-content">
			<!-- TODO: provide track description -->
			</div>
			<% if @song.album.image %>
			<div id="album-image">
					<%= image_tag(@song.album.image)%>
			</div>
      <% else %>
			<div id="album-image">
					<%= image_tag("image_not_available.jpg")%>
			</div>
			<% end%>
		</div>
	</div>
  <% end %>
</div>

<script type="text/javascript" id="bootstrapped-song">

$(function(){

	RapGenius.Repositories.Songs.show =
	<%= (render :partial => "show").html_safe %>;

	var songModel = new RapGenius.Models.Song(RapGenius.Repositories.Songs.show);

	var songShowView = new RapGenius.Views.SongShowView({model: songModel});

	var songShowRouter = new RapGenius.Routers
																		.SongShowRouter({view: songShowView});

});


</script>




