<% var artist_link =  "/artists/" + song.get("artist_id") %>

<div class="song-info" data-song-id="<%= song.get("id") %>">
  <span class="header">
		<a href="<%= artist_link %>"><%= song.get("artist").name %></a>
    <span class="song-title"> - <%= song.get("title") %> Lyrics</span>
  </span>
</div>

<div id="song-wrapper">
  <div class="lyrics-wrapper"><%= song.get("lyrics") %></div>
  <% if(RapGenius.currentUser.get("id")) { %>  
  	<span class="button edit-lyrics">Edit Lyrics</span>
  <% } %>
</div>

<div class="modal fade" id="annotation-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">You need to login to annotate!</h4>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



