<div id="newsfeed">

	<div id="welcome">Song Feed</div>

	<div id="songs">
		<% @songs.each do |song| %>
			<div class="song" data-href="/songs/<%= song.id %>">
				<%= song.artist.name %> - <%= song.title %>
				<div class="song-footer">
					<a><%= song.annotations.length %> annotations</a>
          <%= link_to "posted by: #{song.user.username}", user_url(song.user),
          {:class => "user-link" }%> 
				</div>
			</div>
		<% end %>
	</div>
  

</div>

<script>
$(function(){
  
  $(".song").click(function(){
    window.location.href = $(this).attr("data-href");
  });
  
});
</script>