
<% if (songs.length > 0) { %>
  <h4>Songs</h4>
<% } %>

<% _.each(songs, function(song){ %>

    <a href="/songs/<%=song.id%>">
    <div class="result">
      <%= song.title %>
    </div>
    </a>

<% })%>

<% if (artists.length > 0) { %>
  <h4>Artists</h4>
<% } %>

<% _.each(artists, function(artist){ %>

  <a href="/artists/<%=artist.id%>">
    <div class="result">
      <%= artist.name %>
    </div>
  </a>

<% })%>

<% if (albums.length > 0) { %>
  <h4>Albums</h4>
<% } %>

<% _.each(albums, function(album){ %>

  <a href="/albums/<%=album.id%>">
    <div class="result">
      <%= album.name %>
    </div>
  </a>

<% })%>