<!DOCTYPE html>
<html>
<head>
	<title>RapGenius</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js">
	</script>
	<script>
		filepicker.setKey("<%= ENV["INK_API"] %>")
	</script>
	<script>

		RapGenius.currentUser = new RapGenius.Models.User(JSON.parse(
			"<%= "#{j current_user.to_json }".html_safe %>"));

		var toolbarView = new RapGenius.Views.Toolbar({
			model: RapGenius.currentUser}
		);

		$("#body").append(toolbarView.render().$el);

	</script>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="body">
		<div id="toolbar">
			<div id="banner">
				rap genius
			</div>

			<div id="user-header">
			<% if logged_in? %>

			<a href="<%= user_url(current_user) %>">
				<div class="info">
					<div class="name">
					<%= current_user.username %>
					</div>
					<image src="<%= current_user.image %>" id="profile-pic">
					</image>
				</div>
			</a>
				<div id="logout">
					Sign Out...
				</div>

			<% else %>
			<div id="sign-in">
				Sign In!!!
			</div>
			<div id="sign-up">
				Create an account
			</div>
			<% end %>
			</div>
		</div>


		<% if flash[:notices] %>
		<div class="notice">
			<ul>
				<% flash[:notices].each do |notice| %>
				<li> <%= notice %>
					<% end %>
				</ul>
			</div>
			<% end %>

			<%= yield %>

		</div>

	</body>
	</html>
