<!DOCTYPE html>
<html>
<head>
  <title>RapGenius</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="toolbar">
		<div id="banner">
			rap genius
		</div>
		<div id="sign-in">
			Sign In!!!
		</div>
		<div id="sign-up">
			Create an account
		</div>
	</div>


  <% if flash[:notices] %>
  <div class="notice">
    <ul>
    <% flash[:notices].each do |notice| %>
        <li> <%= notice %>
    <% end %>
    </ul>
  </div>
  <% end %>

<%= yield %>

</body>
</html>
