<!DOCTYPE html>
<html>
<head>
	<title>RapGenius</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js">
	</script>
	<script>
		filepicker.setKey("<%= ENV["INK_API"] %>")
	</script>
	<%= csrf_meta_tags %>
</head>
<body>
  <div id="main">
	<div id="body">

		<script>

		(function(){
			<% if current_user.nil? %>
				RapGenius.currentUser = new RapGenius.Models.User;
			<% else %>
				RapGenius.currentUser = new RapGenius.Models.User(JSON.parse(
					"<%= "#{j current_user.to_json }".html_safe %>"));
			<% end %>

			var toolbarView = new RapGenius.Views.Toolbar({
				model: RapGenius.currentUser}
			);

			$("#body").prepend(toolbarView.render().$el);
		})();
		</script>


		<% if flash[:notices] %>
		<div class="notice">
			<ul>
				<% flash[:notices].each do |notice| %>
				<li> <%= notice %> </li>
				<% end %>
			</ul>
		</div>
		<% end %>

			<%= yield %>

	</div>
  </div>

</body>
</html>
